
.junior_progm,
.senior_progm,
.profa_progm{
    background-position: center;
    background-size: cover;
    color: #fff;
}

.junior_progm{
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./Images/2.png);
    
}
.senior_progm{
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./Images/3.png);
}
.profa_progm{
    background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(./Images/4.png);
}

/* footer section */
.nav-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}